{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          Да никаких правил, на самом деле! Будем рады любым вашим публикациям!
        </p>
        <p>
          (в рамках приличного)
        </p>
        <p>
          (я то прощу.. простит ли Иисус?)
        </p>
      </div>
    </div>
  </div>
{% endblock %}